extends layout

block content
  h1 Closed Items
  div.lot-container

  script#lot-template(type='text/x-handlebars-template')
    div.lot-box
      div.title {{lot.Title}}
      img(src='/images/small_{{lot._id}}.{{lot.SmallImageExt}}')
      div.label High Bid:
        high bid
        -
        high bidder
      div.label Donated By:
        {{lot.donatedBy}}
      div.details-link details
        input.lot-id(type='hidden', value='{{lot._id}}')

block scripts
  script(type='text/javascript', src='/js/closed.js')



