extends layout

block content
  h1 Item Details
  div.lot-container
    input#lotId(type="hidden" value='#{id}')
  div.bid-control
    span Bid Amount: 
    input(id="bidAmount")
  div.bid-control
    input(type="button", value="Place Bid", id="makeBid")
  div.logged-out 
    a(href="/login") Login to bid
  div
    span#resultMsg

  script#lot-template(type='text/x-handlebars-template')
    div.lot-box-big
      div.title {{lot.Title}}
      img(src='/images/large_{{lot._id}}.{{lot.LargeImageExt}}')
      div {{lot.Description}}
      div Minimum Bid: {{lot.MinimumBid}}
      div High Bid: 
        span#highBid {{highBid}} 
        span by 
        span#highBidder {{highBidder}}
      div Total Bids: 
        span#totalBids {{totalBids}}

block scripts
  script(type='text/javascript', src='/js/details.js')

