!!! 5
html
  head
    link(rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/css/site.css')

    script(type='text/javascript', src='/js/jquery-1.9.1.js')
    script(type='text/javascript', src='/js/jquery-ui-1.10.3.custom.min.js')
    script(type='text/javascript', src='/js/handlebars-v1.1.2.js')
    block scripts

  body
    div(class="header-outer")
      div(class="header-inner")
        div(class="header-left") Silent Auction - 2013
        div(class="header-right") current time:

    div(class="content-box")
      block content

    div(class="footer")

