extends layout

block content
  h1 Login
  div.createDetails
    div.row
      div.label Email Address: 
      input#username
      span @porticobenfits.org
    div.row
      div.label Password: 
      input#password(type='password')
    div.label
      input#login(type="button" value="Login")
    div.row
      div.label
      div#status
    div.row
      span Don't have a login?  
      a(href="/register")  Click here
      span  to register.
        

block scripts
  script(src='/js/login.js')
